<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Status da Atualização</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Alterar Status da Atualização</h2>

    <!-- Exibir mensagem de sucesso ou erro -->
    <div th:if="${mensagem}" class="alert alert-success" role="alert" th:text="${mensagem}"></div>
    <div th:if="${mensagemErro}" class="alert alert-danger" role="alert" th:text="${mensagemErro}"></div>

    <form th:action="@{/atualizacoes/alterar-status/{id}(id=${objetoAtualizacao.id})}" method="post">
        <!-- Campo escondido para o ID da atualização -->
        <input type="hidden" th:value="${objetoAtualizacao.id}" name="id" />

        <div class="form-group">
            <label for="status">Selecionar Status</label>
            <select id="status" class="form-control" name="statusId" required>
                <option value="" disabled selected>-- Selecione o Status --</option>
                <option th:each="status : ${todosStatus}" th:value="${status.id}" th:text="${status.nome}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Salvar Status</button>
        <a th:href="@{/atualizacoes/listar-atualizacoes}" class="btn btn-danger">Voltar para atualizações</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
